/* Base Styles */

* {
	box-sizing: border-box;
}

/* Class Styles */

.container {
	display: grid;
	grid-template-areas:
		'heading'
		'employees';
}

.heading {
	grid-area: heading;
	text-transform: uppercase;
}
