/* Base Styles */

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

/* Class Styles */

.container {
	width: 95%;
	margin: auto;
	text-align: center;
}

.heading {
	grid-area: heading;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-size: 1rem;
	font-weight: 400;
	margin: 1.5rem 0.5rem 1rem;
}

.employee-container {
	width: 100%;
}
